<section class="cmdbcontroller" ng-init="init()">
    <div role="tabpanel">
        <!-- <div  class="tab-struct custom-tab-1 mt-40"> -->
        <ul role="tablist" class="nav nav-tabs" id="cmdb_tab">    
            <li class=""  role="presentation" class="">
                <a  data-toggle="tab" id="hddm_cred_store_tab" role="tab" href="#tab_credstore" aria-expanded="false">Cred Store</a>
            </li>
            <li role="presentation">
                <a  data-toggle="tab" id="hddm_discovery_tab" role="tab" href="#tab_discovery" aria-expanded="false">Discovery</a>
            </li>
            <li role="presentation" class="">
                <a  data-toggle="tab" id="hddm_machine_tab" role="tab" href="#tab_machine" aria-expanded="false">Machine</a>
            </li>
            <li role="presentation" class="">
                <a  data-toggle="tab" id="hddm_group_tab" role="tab" href="#tab_group" aria-expanded="false">Group</a>
            </li>
            <li role="presentation" class="">
                <a  data-toggle="tab" id="hddm_application_tab" role="tab" href="#tab_application" aria-expanded="false">Application</a>
            </li>
            <li role="presentation" class="">
                <a  data-toggle="tab" id="hddm_cloud_tab" role="tab" href="#tab_cloud" aria-expanded="false">Cloud</a>
            </li>
            <li role="presentation" class="">
                <a  data-toggle="tab" id="hddm_software_tab" role="tab" href="#tab_software" aria-expanded="false">Software</a>
            </li>
            <li role="presentation" class="">
                <a  data-toggle="tab" id="hddm_application_tab" role="tab" href="#tab_application" aria-expanded="false">applications</a>
            </li>
            <li role="presentation" class="">
                <a  data-toggle="tab" id="hddm_resource_tab" role="tab" href="#tab_resource" aria-expanded="false">Resource</a>
            </li>
            <li role="presentation" class="">
                <a  data-toggle="tab" id="formdesinger_tab_7" role="tab" href="#tab_servicemodeling" aria-expanded="false">Service Modeling</a>
            </li>
        </ul>
        <div class="tab-content" id="cmdb_content">
            <div id="tab_credstore" class="tab-pane fade" role="tabpanel">
               <intelli-credstore></intelli-credstore>
            </div>
            <div id="tab_discovery" class="tab-pane fade" role="tabpanel">
               <intelli-discovery></intelli-discovery>
            </div>
            <div id="tab_machine" class="tab-pane fade" role="tabpanel">
               <intelli-machine></intelli-machine>
            </div>
            <div id="tab_group" class="tab-pane fade" role="tabpanel">
                <intelli-group></intelli-group>
            </div>
            <div id="tab_application" class="tab-pane fade" role="tabpanel">
                <intelli-application></intelli-application>
            </div>
            <div id="tab_cloud" class="tab-pane fade" role="tabpanel">
                <intelli-cloud></intelli-cloud>
            </div>
            <div id="tab_software" class="tab-pane fade" role="tabpanel">
                <intelli-software></intelli-software>
            </div>
            <div id="tab_application" class="tab-pane fade" role="tabpanel">
                <intelli-application></intelli-applications>
            </div>
            <div id="tab_resource" class="tab-pane fade" role="tabpanel">
                <intelli-resource></intelli-resource>
            </div>
            <div id="tab_servicemodeling" class="tab-pane fade" role="tabpanel">
                <intelli-servicemodeling></intelli-servicemodeling>
            </div>
        </div>
    </div>
</section>