<section class="smtpcontainer" ng-init="init()">
    <div style="max-width: 1024px;margin: auto;">
        <div class="row">
            <div class="col-md-12">
                <div style="margin: 0px auto;width: 650px;background:#feffffd1;padding: 20px;">
                    <div class="smtp_header">
                        <div class="pull-left  margin0">
                            <h3 class="" style="margin-top: 5px;padding: 5px;padding-left: 0px;display: inline-block;">SMTP Details</h3>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="smpt_form_container">
                        <form style="margin-top: 20px;" id="formsmtp" name="formsmtp">
                            <div class="form-group">
                                <label for="txtsmtpip">Communication Type</label>
                                <select class="form-control" id="selcommunicationtype" name="selcommunicationtype">        
                                    <option value="">Select Communication Type</option>                    
                                    <option ng-repeat="row in communication_type" value="{{row}}">{{row}}</option>                             
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtsmtpip">SMTP IP</label>
                                <input type="text" class="form-control" id="txtsmtpip" name="txtsmtpip" placeholder="SMTP IP">
                            </div>
                            <div class="form-group">
                                <label for="txtsmtpport">SMTP Port</label>
                                <input type="text" class="form-control" id="txtsmtpport" name="txtsmtpport" placeholder="SMTP Port">
                            </div>
                            <div class="form-group">
                                <div class="checkbox" >
                                    <label style="padding-left: 0px;">
                                        <div class="checker"><span><input type="checkbox" id="chksmptauth" name="chksmptauth"></span></div> Does your server needs Authentication ?
                                    </label>
                                </div>
                            </div>
                            <div class="smpt_auth_panel">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">User Name</label>
                                    <input type="text" class="form-control" id="txtsmtpusername" name="txtsmtpusername" placeholder="User Name">
                                </div>
                                <div class="form-group">
                                    <label for="txtsmtppsw">Password</label>
                                    <input type="password" class="form-control" id="txtsmtppsw" name="txtsmtppsw" placeholder="Password">
                                </div>
                            </div>    
                            <div class="form-group" style="text-align: center;margin-bottom: 0px;">
                                <a href="" id="btnsmtpsave" class="btn btn-sm btn-success" style="margin-right: 10px;">Submit</a> 
                            </div>                                                    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>