<div class="panel panel-white">
    <div class="panel-body" style="padding: 0px">
        <form name="Formvmwaredatastore" id="Formvmwaredatastore">
            <div class="well well-lg header-well">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>datasource<span style="color: red;">*</span></label>
                            <select class="form-control" id="selperfinterface" autocomplete="off" ng-model="perfinterface" ng-change="interfacelistget()" name="selperfinterface">
                                <option value="">-- select --</option>
                                <option ng-repeat="(key, values) in getperflovval" value="{{key}}">{{key}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>vCenter Server<span style="color: red;">*</span></label>
                            <select class="form-control" id="selperfport" autocomplete="off" ng-model="selperfport" ng-change="btnpostperffn()" name="selperfport">
                                <option value="">-- select --</option>
                                <option ng-repeat="(key, values) in portvals" value="{{values}}">{{values}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Cluster<span style="color: red;">*</span></label>
                            <select class="form-control" id="selperflist" autocomplete="off" ng-model="selperflist" ng-change="metricdisfn()" name="selperflist">
                                <option value="">-- select --</option>
                                <option ng-repeat="ip in getperfhstitems" value="{{ip[1]}}">{{ip[1]}} &nbsp;&nbsp;&nbsp; <span>{{ip[3]}}</span></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>ESXi Server<span style="color: red;">*</span></label>
                            <select class="form-control" id="selperfevmmet" ng-model="selperfevmmet" autocomplete="off" name="selperfevmmet">
                                <option value="">-- select --</option>
                                <option ng-repeat="row1 in getperfhstmetrics.metrics" value="{{row1}}">{{row1}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Data Store<span style="color: red;">*</span></label>
                            <select class="form-control" id="selperfevmmet" ng-model="selperfevmmet" autocomplete="off" name="selperfevmmet">
                                <option value="">-- select --</option>
                                <option ng-repeat="row1 in getperfhstmetrics.metrics" value="{{row1}}">{{row1}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-primary" style=" margin-top: 23px;" ng-click="btn()">Get</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
 </div>