<section class="mlcontainer" ng-init="init()">
    <div>
        <ul role="tablist" class="nav nav-tabs" id="ml_myTabs_1">
            <li class="active" data-role="anomaly">
                <a aria-expanded="true"  data-toggle="tab" role="tab" id="ml_tab_alerts" data-target="#ml-tab-1">Anomaly</a>
            </li>
        </ul>
        <div class="tab-content" id="mlTabContent_1">
            <div id="ml-tab-1" class="tab-pane fade active in" role="tabpanel">
                <intelli-anomaly></intelli-anomaly>
            </div>
        </div>
    </div>
</section>