<div class="monitoringPerformanceController" ng-controller="monitoringPerformanceController" >
    <div class="row">
        <div class="col-md-12 monitorpage-content-new">
            <div class="row">
                <div class="panel panel-white">
                    <div class="panel-body" style="padding: 0px">
                        <div class="col-lg-3">
                            <div class="panel panel-info" >
                                <div class="panel-heading">CPU Usage [Metribeat Systems] ECS</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="c100 p46 small">
                                                <span>46%</span>
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <p style="font-size: 16px;">CPU Usage</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="panel panel-info" >
                                <div class="panel-heading">Memory Usage [Metribeat Systems] ECS</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="c100 p12 small">
                                                <span>12%</span>
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <p style="font-size: 16px;">Memory Usage</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="panel panel-info" >
                                <div class="panel-heading">5m Load [Metribeat Systems] ECS</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="c100 p12 small">
                                                <span>12%</span>
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <p style="font-size: 16px;">5m Load</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="panel panel-info" >
                                <div class="panel-heading">Swap Usage [Metribeat Systems] ECS</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="c100 p12 small">
                                                <span>12%</span>
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <p style="font-size: 16px;">Swap Usage</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="panel panel-info" >
                                <div class="panel-heading">Disk Used [Metribeat Systems] ECS</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="c100 p12 small">
                                                <span>12%</span>
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <p style="font-size: 16px;">Disk Used</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-info" >
                                <div class="panel-heading">Inbound Traffic [Metribeat Systems] ECS</div>
                                <div class="panel-body" style="text-align: center;">
                                    <p style="font-size: 16px;">Inbound Traffic</p>
                                    <p style=" font-size: 35px; margin: 25px auto;"><b>5.8MB/s</b></p>
                                    <span>Total Transferred <b>4.5GB</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-info" >
                                <div class="panel-heading">Outbound Traffic [Metribeat Systems] ECS</div>
                                <div class="panel-body" style="text-align: center;">
                                    <p style="font-size: 16px;">Outbound Traffic</p>
                                    <p style=" font-size: 35px; margin: 25px auto;"><b>271.8KB/s</b></p>
                                    <span>Total Transferred <b>141.5MB</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-info" >
                                <div class="panel-heading">In Packetloss [Metribeat Systems] ECS</div>
                                <div class="panel-body" style="text-align: center;">
                                    <p style="font-size: 16px;">In Packetloss</p>
                                    <p style=" font-size: 35px; margin: 25px auto;"><b>454</b></p>
                                    <span>Out Packetloss <b>0</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-info" >
                                <div class="panel-heading">Memory usage [Metribeat Systems] ECS</div>
                                <div class="panel-body" style="text-align: center;">
                                    <p style="font-size: 16px;">Memory usage</p>
                                    <p style=" font-size: 35px; margin: 25px auto;"><b>16.6GB</b></p>
                                    <span>Total Memory <b>31.5GB</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-info" >
                                <div class="panel-heading">Host Pending [Metribeat Systems] ECS</div>
                                <div class="panel-body" style="text-align: center;">
                                    <p style="font-size: 16px;">Host Pending</p>
                                    <p style=" font-size: 35px; margin: 25px auto;"><b>10</b></p>
                                    <span>Last updated at 12:42</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Disk Usage [Metribeat Systems] ECS
                                </div>
                                <div class="panel-body">
                                    <br>
                                    <br>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                          50% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                          80% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:20%">
                                          20% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                          75% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                          95% Complete (success)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    CPU Usage  [Metribeat Systems] ECS
                                </div>
                                <div class="panel-body">
                                    <div class="executive_suppression_content">
                                        <div id="chartcpusage" style="height: 250px; width : 700px "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    System Load  [Metribeat Systems] ECS
                                </div>
                                <div class="panel-body">
                                    <div class="executive_suppression_content">
                                        <div id="chartsysload" style="height: 250px; width : 700px "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                   Memory Usage  [Metribeat Systems] ECS
                                </div>
                                <div class="panel-body">
                                    <div class="executive_suppression_content">
                                        <div id="chartmemusage" style="height: 250px; width : 700px "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Disk IO (Bytes) [Metribeat Systems] ECS
                                </div>
                                <div class="panel-body">
                                    <div class="executive_suppression_content">
                                        <div id="chartdiskio" style="height: 250px; width : 700px "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Network Traffic [Metribeat Systems] ECS
                                </div>
                                <div class="panel-body">
                                    <div class="executive_suppression_content">
                                        <div id="chartnetworktraffic" style="height: 250px; width : 700px "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Processes By Memory [Metribeat Systems] ECS
                                </div>
                                <div class="panel-body">
                                    <br>
                                    <br>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                          50% Complete (Radis Server)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                          80% Complete (Quem - kvm)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:20%">
                                          20% Complete (Systemd - joural)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                          75% Complete (Metribeat)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                          95% Complete (Python)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Top Processes By CPU [Metribeat Systems] ECS
                                </div>
                                <div class="panel-body">
                                    <br>
                                    <br>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                          50% Complete (Radis Server)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                          80% Complete (Quem - kvm)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:20%">
                                          20% Complete (Systemd - joural)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                          75% Complete (Metribeat)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                          95% Complete (Python)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Interfaces By Incoming Traffic [Metribeat Systems] ECS
                                </div>
                                <div class="panel-body">
                                    <br>
                                    <br>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                          50% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                          80% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:20%">
                                          20% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                          75% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                          95% Complete (success)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Interfaces By Outgoing Traffic [Metribeat Systems] ECS 
                                </div>
                                <div class="panel-body">
                                    <br>
                                    <br>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                          50% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                          80% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:20%">
                                          20% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                          75% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                          95% Complete (success)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Top Hosts By CPU (Realtime) [Metribeat Systems] ECS 
                                </div>
                                <div class="panel-body">
                                    <br>
                                    <br>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                          50% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                          80% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:20%">
                                          20% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                          75% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                          95% Complete (success)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Top Hosts by Memory  (Realtime) [Metribeat Systems] ECS 
                                </div>
                                <div class="panel-body">
                                    <br>
                                    <br>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                          50% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                          80% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:20%">
                                          20% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                          75% Complete (success)
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                          95% Complete (success)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 ">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Hosts Histogram By CPU Usage [Metribeat Systems] ECS 
                                </div>
                                <div class="panel-body" style="height:450px">
                                    <div class="executive_suppression_content">
                                        <div id="charthistogram" style="height: 450px; width : 1450px "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>            
        </div>
    </div>
</div>