<div class="maintenancewindowcontainer" ng-controller="maintenancewindowController" ng-init="init()">

   <div class="row" style="margin-bottom:15px;">
      <div class="pull-left" > 
         <div class="col-lg-12">
               <input type="text" class="form-control "  ng-model="searchtxt" name="search" value="" placeholder="Search ..." autocomplete="off" />
         </div>
      </div>
      <div class="pull-right">
         <div class="col-lg-12">
            <a class="btn btn-sm btn-default pull-right btnnewmwadd" ><i class="fa fa-plus" style="padding-right:5px;" aria-hidden="true"></i> ADD</a>
            <!-- <br>
            <br> -->
         </div>
      </div>
   </div>
   <div class="panel panel-white">
      <div class="panel-body" style="padding: 0px">
         <table class="table tblapplication" style="margin-bottom: 0px; border: 1px solid #ebeef0;">
            <thead style="background: #ebeef0;">
               <tr class="maintenance_window_header">                                                                     
                  <th>Start Date Time</th>
                  <th>End Date Time</th>
                  <th>HostGroup</th>
                  <th>Host</th>
                  <th>Remarks</th>
                  <th>End in (mins)</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                     <a href="" class="btn-update btnmwupdatemodal" ng-click="btnmwupdate()" style="color:#12AFCB; font-size: 24px;" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil " aria-hidden="true"></i></a> 
                     <a href="" class="btn-detach" ng-click="deleteRowval();" style="color:#12AFCB; margin-left: 15px; font-size: 24px;" data-toggle="tooltip" data-original-title="Delete" ><i class="fa fa-trash-o " aria-hidden="true"></i></a>
                  </td>
               </tr> 
               <tr  ng-show="getappsdetlist.length == 0">
                  <td colspan="5" style="text-align:center;">
                     No Records Found
                  </td> 
               </tr>                                                                
            </tbody>
         </table>
      </div>                                                    
   </div>
   
   <!-- update cred Detail modal -->
   <!-- <div class="modal fade " id="modelappupdatedet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog animated fadeInDown">
         <div class="modal-content">
            <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title" id="myModalLabel">Update Application Details</h4>
            </div>
            <div class="modal-body clearfix">
               <div class="smpt_form_container">
                  <form id="updateappForm" name="updateappForm" class="ng-pristine ng-valid"  novalidate="novalidate">
                     <div class="form-group">
                           <label>Application Name</label> 
                           <input type="text"  class="form-control" disabled ng-model="updateviewmod.application_name" id="txtupdateappname"  name="txtupdateappname" placeholder="Enter The Application Name">
                     </div>
                     <div class="form-group ">
                        <label for="txtsmtpip">Application Class <span style="color: red;">*</span></label>
                        <select class="form-control" id="selupdateappcls" ng-model="updateviewmod.application_class"  autocomplete="off" name="selupdateappcls">
                           <option  value="">-- select --</option>
                           <option ng-repeat="acl in getappclslist.aclass_name" value="{{acl}}">{{acl}}</option>
                        </select>
                     </div>
                     <div class="form-group ">
                        <label for="txtsmtpip">Application Sub - Class <span style="color: red;">*</span></label>
                        <select class="form-control" id="selupdateappsubcls"  ng-model="updateviewmod.application_subclass" autocomplete="off" name="selupdateappsubcls">
                           <option  value="">-- select --</option>
                           <option ng-repeat="ascl in getappsclslist.asclass_name" value="{{ascl}}">{{ascl}}</option>
                        </select>
                     </div>
                     <div class="form-group" style="text-align: right;margin-bottom: 0px;">
                           <button type="button" id="btnappupdatemodalcancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                           <a href="" id="btnappdetUpdate" class="btn btn-sm btn-success" style="margin-right: 10px;">Update</a>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>  
   </div> -->
   
   <!-- Add New cred Detail modal -->
   <div class="modal fade " id="modeladdmwdet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog animated fadeInDown">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title" id="myModalLabel">New Maintenance Window Add</h4>
               </div>
               <div class="modal-body clearfix">
                  <div class="mwadd_form_container">
                     <form id="addmwForm" name="addmwForm" class="ng-pristine ng-valid" novalidate="novalidate">
                        <div class="form-group ">
                           <label for="txtsmtpip">Host Group<span style="color: red;">*</span></label>
                           <select class="form-control" id="seladdmwhostgrp" autocomplete="off" name="seladdmwhostgrp">
                              <option  value="">-- select --</option>
                              <option ng-repeat="appclslst in getallappval" value="{{appclslst.hostgroup}}">{{appclslst.hostgroup}}</option>
                           </select>
                        </div>
                        <div class="form-group ">
                           <label for="txtsmtpip">Host<span style="color: red;">*</span></label>
                           <select class="form-control" id="seladdmwhost" autocomplete="off" name="seladdmwhost">
                              <option  value="">-- select --</option>
                              <!-- <option ng-repeat="appclslst in getappclslist.aclass_name" value="{{appclslst}}">{{appclslst}}</option> -->
                           </select>
                        </div>
                        <div class="form-group has-feedback">  
                           <label for="exampleInputEmail1">Remarks <span style="color: red;">*</span></label>
                           <textarea class="form-control" id="txtaddmwremarks" name="txtaddmwremarks"  style="height: 80px;padding: 0px !important;"></textarea> 
                        </div>
                        <div class="form-group ">
                           <label>Start Date <span style="color: red;">*</span></label>
                           <input type="text" class="form-control datepicker" name="txtaddmwstartdate" id="txtaddmwstartdate">
                        </div>
                        <div class="form-group ">
                           <label>End Date <span style="color: red;">*</span></label>
                           <input type="text" class="form-control datepicker" name="txtaddmwendate" id="txtaddmwendate">
                        </div>
                        <div class="form-group" style="text-align: right;margin-bottom: 0px;">
                           <button type="button" id="btnaddmwmodalcancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                           <a href="" id="btnaddmwbtn" class="btn btn-sm btn-success" style="margin-right: 10px;">Save</a>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
      </div>
   </div>
</div>


